body {
  font-family: Arial, sans-serif;
  background-color: #333;
  color: #fff;
  text-align: center;
  margin: 0;
  padding: 0;
}

.container {
  padding: 20px;
}

h1 {
  font-size: 24px;
}

#status {
  font-size: 20px;
  margin-top: 20px;
}
